<h1>Welcome to REST API to justify text</h1>
<p> /api/token => make a POST Request with - x-www-form-urlencoded : {email: "ghoulsoumaya@gmail.com"} THEN for /api/justify make a POST Request with header {x-access-token: "your token"} with ROW =>Body=>plain text and put the text to justify</p>